<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem Vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle">Teste de sistema efetuado para a empresa - Allied Brasil </mat-card-subtitle>
</mat-card>