<h1 mat-dialog-title>
    {{title}}
</h1>

<form>
    <div mat-dialog-content>
        <mat-form-field appearance="fill" style="display: block;">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="data.nome" name="nome">
        </mat-form-field>
        <mat-form-field appearance="fill" style="display: block;">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput [(ngModel)]="data.email" name="email">
        </mat-form-field>
        <mat-form-field appearance="fill" style="display: block;">
            <mat-label>Nascimento</mat-label>
            <input matInput [(ngModel)]="data.nascimento" name="nascimento">
        </mat-form-field>
        <mat-form-field appearance="fill" style="display: block;">
            <mat-label>CPF</mat-label>
            <input matInput [(ngModel)]="data.cpf" name="cpf">
        </mat-form-field>
        <mat-form-field appearance="fill" style="display: block;">
            <mat-label>Telefone</mat-label>
            <input matInput type="tel" [(ngModel)]="data.telefone" name="telefone">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button (click)="onDismiss()" color="warn">Cancelar</button>
        <button mat-raised-button color="primary" (click)="onConfirm()">Salvar</button>
    </div>
</form>