table {
    width: 100%;
}

.view > i {
    color: #26a0d9;
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
    margin-right: 10px;
}

.delete > i {
    color: #e35e6b;
}

table button, table a{
    cursor: pointer;
}