<div class="mat-elevation-z8">
    <table mat-table [dataSource]="planos" class="full-width-table">
        <!-- SKU Column -->
        <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef>SKU</th>
            <td mat-cell *matCellDef="let row">{{row.sku}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="franquia">
            <th mat-header-cell *matHeaderCellDef>Franquia</th>
            <td mat-cell *matCellDef="let row">{{row.franquia}}</td>
        </ng-container>

        <!-- Descrição Column -->
        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let row">{{row.valor}}</td>
        </ng-container>

        <!-- Ativo Column -->
        <ng-container matColumnDef="ativo">
            <th mat-header-cell *matHeaderCellDef>Ativo</th>
            <td mat-cell *matCellDef="let row">{{row.ativo}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row">
                <div *ngIf="row.ativo; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <!-- <a routerLink="/plano/{{row.sku}}" class="view">
                        <i class="material-icons">
                            visibility
                        </i>
                    </a> -->
                    <a (click)="openFormDialog(row)" class="view">
                        <i class="material-icons">
                            visibility
                        </i>
                    </a>
                </ng-template>
                <ng-template #elseBlock>
                    <a (click)="confirmDialog(row)" class="view">
                        <i class="material-icons">
                            visibility_off
                        </i>
                    </a>
                </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>