<div class="mat-elevation-z8">
    <table mat-table [dataSource]="plataformas" class="full-width-table">
        <!-- SKU Column -->
        <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef>SKU</th>
            <td mat-cell *matCellDef="let row">{{row.sku}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let row">{{row.nome}}</td>
        </ng-container>

        <!-- Descrição Column -->
        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef>Descrição</th>
            <td mat-cell *matCellDef="let row">{{row.descricao}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row">
                <a routerLink="/planos/{{row.sku}}" class="view">
                    <i class="material-icons">
                        visibility
                    </i>
                </a>
                <!--<a routerLink="/plataformas/editar/{{row.sku}}" class="edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
                <a (click)="confirmDialog(row)" class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </a>-->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>