<mat-card>
    <mat-card-title>{{plataforma.sku !== undefined ? 'Editar' : 'Novo'}} Plataforma</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="plataforma.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descricão" [(ngModel)]="plataforma.descricao" name="descricao">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="plataforma.sku !== undefined ? editPlataforma() : createPlataforma()"
        color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>