/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.v-middle{
    vertical-align: middle;
}

.msg-error{
    background-color: #a72828;
    color: #fff
}

.msg-success{
    background-color: #28a745;
    color: #fff
}

.msg-success .mat-button-wrapper, .msg-error .mat-button-wrapper{
    color: #fff
}